body {
	background-color: #b3b3f1;
}
#main {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	/* margin-top: 20%; */
}
h1 {
	color: #27aedb;
	text-align: center;
}

button {
	color: #27aedb;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 25px;
}

.bg-pink {
	background-color: pink;
}
.inputrow {
	/* display: flex;
	flex-direction: column; */
	/* justify-content: center; */
	/* margin: auto;
	width: 50%; */
	display: flex;
	justify-content: center;
	padding: 20px;
	/* margin-top: -20%; */
	/* padding: 10px; */
}
.task {
	padding: 10px;
	margin-right: 10px;
	width: 400px;
}
.btn {
	height: 30px;
	margin-top: 10px;
}
.tasks {
	/* text-align: center; */
	/* background-color: red */
	padding: 0px 20%;
	padding-top: 10px;
	margin: auto;
	word-wrap: break-word;
}
.singleTsk {
	/* border: 2px solid black; */
	display: flex;
	margin: 5px 0px;
	padding: 10px;
	font-size: 20px;
	justify-content: space-between;
	background-color: #087e8b;
	border-radius: 5px;
}
.singleTsk span {
	width: 80%;
}
.btns {
	margin-left: 20px;

	display: flex;
}
.edit {
	margin-right: 10px;
}
.editbox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.editbox textarea {
	/* background-color: black; */
	height: 50px;
	width: 400px;
}
.editbox button {
	width: 70px;
	margin-top: 5px;
	/* background-color:#e1fd61; */
}
.signup_flex {
	display: flex;
	justify-content: center;
}
.signup_container {
	display: flex;
	flex-direction: column;
	width: 50%;
	background-color: #2274a5;
	padding: 20px;
	border-radius: 5px;
	align-items: center;
}

.signup_elem {
	margin: 10px 0px;
	height: 30px;
	outline: none;
	border-radius: 3px;
}
input.signup_elem {
	width: 30vw;
}
.signup_container h1 {
	font-size: 30px;
	color: #fff;
	font-family: hack;
	margin: 10px;
}
p button {
	margin-left: 10px;
}
